<style>
    #editorWrapper>div:nth-child(2) {
        right: 1em;
        bottom: 1em;
        display: block;
    }

    #sco-header {
        font-family: sans-serif, times;
        font-size: 1.2em;
    }

    #sco-tabs-container .nav-tabs {
        border-bottom: none;
    }

    #sco-tabs-container .nav-tabs>li.active>a {
        color: #ffffff;
        background-color: #428bca;
        font-family: Arial;
        font-weight: bold;
        font-size: 1.2em;
        padding-bottom: 7px;
        /* border: 0.17em solid #ddd; */
    }

    #modelBoardContent>table>tbody>tr:nth-child(1)>td:nth-child(2) {
        background: #f7f7f7;
    }

    p.separator {
        height: 20px;
    }

    .table {
        /* margin-top: -1px !important;*/
        font-family: Arial;
    }

    #sco-header span[contenteditable],
    .table span[contenteditable] {
        border-bottom: 1px dotted black;
    }

    .table td {
        border: 1px solid white;
    }

    .table tr td {
        padding-left: 10px;
        padding-right: 10px;
    }

    .table tr>td.title,
    td.caption {
        font-weight: bold;
    }

    /* .table tr:nth-child(even)>td.title {
        background: #428bca;
        color: white;
    } */

    /* .table tr:nth-child(odd)>td.title { */

    .table tr>td.title {
        background: #f7f7f7;
    }

    /* .table tr:nth-child(2n) {
        background-color: #ECEFF1;
    }*/

    .table tr:nth-child(2n) {
        background-color: #f7f7f7;
    }

    .table td.description {
        /* height: 7em; */
    }

    .no-spacing {
        margin: 0 !important;
        padding: 0 !important;
    }

    .label {
        font-size: 16px !important;
    }
</style>

<!-- Header -->
<div id="sco-header" class="row">
    <div class="col-xs-12 col-md-5" style="zoom: 0.75; padding-bottom: 2%">
        <div>
            <h1>
                Agreement: {{model.id}}
            </h1>
        </div>
    </div>
</div>
<!-- options -->
<div class="row">
    <!-- Date for billing calculation -->
    <div class="col-sm-8 form-inline">
        <!-- <h3>Date</h3> -->
        <fieldset class="date form-group">
            <label for="year">Year: </label>
            <select class="form-control" id="year" name="year" ng-model="year" ng-init="year='2018'">
                <option>2015</option>
                <option>2016</option>
                <option>2017</option>
                <option>2018</option>
                <option>2019</option>
                <option>2020</option>
            </select> -
            <label for="month">Month: </label>
            <select class="form-control" id="month" name="month" ng-model="month" ng-init="month='09'">
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select> -
            <label for="day">Day: </label>
            <select class="form-control" id="day" name="day" ng-model="day" ng-init="day='01'">
                <option>01</option>
                <option>02</option>
                <option>03</option>
                <option>04</option>
                <option>05</option>
                <option>06</option>
                <option>07</option>
                <option>08</option>
                <option>09</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
                <option>25</option>
                <option>26</option>
                <option>27</option>
                <option>28</option>
                <option>29</option>
                <option>30</option>
                <option>31</option>
            </select>
        </fieldset>
    </div>
    <!-- Buttons of dashboard and refresh -->
    <div class="col-sm-4 text-right">
        <a target="_blank" href="http://localhost:30300/dashboard/db/kubernetes-pod-statistics-via-heapster-and-influxdb?orgId=1&from=now%2Fw&to=now&var-ns=default&var-name="
            class="btn btn-success">
            Dashboard
            <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
        </a>
        <button class="btn btn-warning" ng-click="restart()">Reset values
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        </button>
    </div>
</div>
<br>
<!-- Button to calculate the billing -->
<button class="btn btn-primary" ng-click="execute()">Calculate billing
    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
</button>
<!-- Results -->
<div ng-show="isResult" style="margin-top: 40px">
    <h2>Result: </h2>
    <h3>The bill
        <strong style="background-color: #d6f5d6">
            <span contenteditable format="string " ng-model="result.bill"></span>
        </strong>
    </h3>
    <h3>Percentage discount applied to the bill
        <strong style="background-color: #d6f5d6">
            <span contenteditable format="string " ng-model="result.percentage"></span>%
        </strong>
    </h3>
    <h3>The bill with the rewards
        <strong style="background-color: #d6f5d6">
            <span contenteditable format="string " ng-model="result.billWithDiscount"></span>
        </strong>
    </h3>
    <!-- messages from the result  -->
    <!-- <div ng-repeat="message in result.message">
        <span contenteditable format="string " ng-model="message"></span>
    </div> -->
    <!-- <div ng-repeat="noData in result.noData">
        <span contenteditable format="string " ng-model="noData"></span>
    </div> -->
</div>
<p class=" separator "></p>
<!-- Information of the billing -->
<!-- Billing -->
<table class="table no-spacing">
    <tr>
        <td colspan="2" style=" text-align: center; font-size: 1.6em; background-color: #f7f7f7; color: black;">
            Billing
        </td>
    </tr>
</table>
<table class="table ">
    <tr>
        <td class="title description">Initial billing day</td>
        <td colspan="2" class="form-inline">
            <!-- <span contenteditable ng-model="model.terms.pricing.billing.initial"></span> -->
            <fieldset class="date form-group">
                <label for="year">Year: </label>
                <select class="form-control" id="year" name="year" ng-model="initialYear">
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                    <option>2020</option>
                </select> -
                <label for="month">Month: </label>
                <select class="form-control" id="month" name="month" ng-model="initialMonth">
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select> -
                <label for="day">Day: </label>
                <select class="form-control" id="day" name="day" ng-model="initialDay">
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                    <option>05</option>
                    <option>06</option>
                    <option>07</option>
                    <option>08</option>
                    <option>09</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>
                </select>
            </fieldset>
        </td>
        <td class="title description">Period</td>
        <td colspan="2">
            <select ng-model="model.terms.pricing.billing.period">
                <option value="monthly">Monthly</option>
                <option value="quarterly">Quarterly</option>
            </select>
        </td>
    </tr>
</table>
<table class="table ">
    <tr>
        <td colspan="12" class="title description" style="text-align: center;">Rules</td>
    </tr>
    <tr ng-repeat="of_c in model.terms.pricing.billing.cost.of">
        <td class="title description"> Condition </td>
        <td colspan="2" style="text-align: center; background-color: #ffffff">
            <span contenteditable ng-model="of_c.condition"></span>
        </td>
        <td class="title description"> Value</td>
        <td colspan="2" style="text-align: center; background-color: #ffffff">
            <span contenteditable ng-model="of_c.value"></span>
        </td>
    </tr>
    <tr>
        <td class="title description" colspan="3">Base cost (DPC)</td>
        <td colspan="3">
            <span contenteditable ng-model="model.terms.pricing.billing.cost.over.baseCost.DPC"></span>
        </td>
    </tr>
</table>
<!-- Metrics -->
<table class="table no-spacing">
    <tr>
        <td colspan="2" style=" text-align: center; font-size: 1.6em; background-color: #f7f7f7; color: black;">
            Metrics
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseMetric" role="button" aria-expanded="false"
                aria-controls="collapseMetric">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
        </td>
    </tr>
</table>
<table class="table ">
    <tr ng-repeat="metric in metricsName ">
        <td class="title description">Metric </td>
        <td colspan="2 ">
            <span contenteditable ng-model="metric"></span>
        </td>
        <td class="title description ">Description </td>
        <td colspan="2 ">
            <span contenteditable ng-model="model.terms.metrics[metric].schema.description"></span>
        </td>
        <td class="title description">Computer </td>
        <td style="white-space: nowrap; text-overflow:clip; overflow:auto; max-width:120px;">
            <span contenteditable ng-model="model.terms.metrics[metric].computer"></span>
        </td>
        <td class="title ">Unit</td>
        <td colspan="2 ">
            <select ng-model="model.terms.metrics[metric].schema.unit">
                <option value="nº">Numeric</option>
                <option value="%">Percentage </option>
                <option value="seconds">Seconds</option>
                <option value="hours">Hours</option>
                <option value="TB">TB</option>
                <option value="GB">GB</option>
            </select>
        </td>
        <!--Delete Metrics-->
        <td>
            <!-- <a class="btn btn-danger" role="button" data-toggle="modal" data-target="#deleteMetric{{metric}}">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </a> -->
            <a class="btn btn-danger" role="button" ng-click="deleteMetric(metric)">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </a>
            <!-- Modal delete metric -->
            <!--<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
                id="deleteMetric{{metric}}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="deleteMetricLabel">Delete Metric</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Do you want to delete metric {{metric}} ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                            <button type="button" class="btn btn-primary" ng-click="deleteMetric(metric)">Yes</button>
                        </div>
                    </div>
                </div>
            </div>-->
        </td>
    </tr>
</table>

<!-- Add metric -->
<div class="collapse" id="collapseMetric">
    <div class="card card-body row">

        <div class="col-sm-3">
            <input class="form-control" type="text" ng-model="newMetric" placeholder="Metric">
        </div>
        <div class="col-sm-3">
            <input class="form-control" type="text" ng-model="metric.schema.description" placeholder="Description">
        </div>
        <div class="col-sm-2">
            <input class="form-control" type="text" ng-model="metric.schema.unit" placeholder="Unit">
        </div>
        <div class="col-sm-3">
            <input class="form-control" type="text" ng-model="metric.computer" placeholder="Computer">
        </div>
        <div class="col-sm-1">
            <button class="btn btn-primary btn-sm col" role="button" ng-click="addMetric()">
                Add
            </button>
        </div>
    </div>
</div>
<br>
<!-- Objectives and rewards -->
<div ng-if="isGuarantee()">
    <!-- Objectives -->
    <table class="table no-spacing">
        <tr>
            <td colspan="2" style=" text-align: center; font-size: 1.6em; background-color: #f7f7f7; color: black;">
                Objectives
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseGuarantee" role="button" aria-expanded="false"
                    aria-controls="collapseGuarantee">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
    </table>
    <!-- when I have no results  -->
    <div ng-if="resultMessage.length === 0">
        <table class="table">
            <tr ng-repeat="of_i in model.terms.guarantees[guaranteeIndex].of">
                <td class="title">Impact</td>
                <td>
                    <select ng-model="of_i.scope.impact">
                        <option value="high">High</option>
                        <option value="medium">Medium</option>
                        <option value="low">Low</option>
                    </select>
                    <!-- <span contenteditable format="string" ng-model="of_i.scope.impact"></span> -->
                </td>
                <td class="title">Objective</td>
                <td>
                    <span contenteditable format="string" ng-model="of_i.objective"></span>
                </td>
                <!-- <td ng-repeat="with_i in of_i.with "> -->
                <td class="title">Nodes</td>
                <td>
                    <span contenteditable ng-model="of_i.scope.node"></span>
                </td>
                <td class="title"> Frequency</td>
                <td>
                    <select ng-model="of_i.window.period">
                        <option value="monthly">Monthly</option>
                        <option value="quarterly">Quarterly</option>
                    </select>
                </td>
                <!--Delete Objective-->
                <td>
                    <a class="btn btn-danger" role="button" ng-click="deleteObjective(of_i)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <!-- when I have results  -->
    <div ng-if="resultMessage.length > 0">
        <table class="table">
            <tr ng-repeat="of_i in model.terms.guarantees[guaranteeIndex].of">
                <td class="title" style="background-color: #fee9e7" ng-if="of_i.color === 'red'">Impact</td>
                <td style="background-color: #fee9e7" ng-if="of_i.color === 'red'">
                    <span contenteditable ng-model="of_i.scope.impact"></span>
                </td>
                <td class="title" style="background-color: #fee9e7" ng-if="of_i.color === 'red'">Objective</td>
                <td style="background-color: #fee9e7" ng-if="of_i.color === 'red'">
                    <span contenteditable format="string" ng-model="of_i.objective"></span>
                </td>
                <td class="title" style="background-color: #fee9e7" ng-if="of_i.color === 'red'">Nodes</td>
                <td style="background-color: #fee9e7" ng-if="of_i.color === 'red'">
                    <span contenteditable ng-model="of_i.scope.node"></span>
                </td>
                <td class="title" style="background-color: #fee9e7" ng-if="of_i.color === 'red'"> Frequency</td>
                <td style="background-color: #fee9e7" ng-if="of_i.color === 'red'">
                    <select ng-model="of_i.window.period">
                        <option value="monthly">Monthly</option>
                        <option value="quarterly">Quarterly</option>
                    </select>
                </td>
                <td class="title" style="background-color: #d6f5d6" ng-if="of_i.color === 'green'">Impact</td>
                <td style="background-color: #d6f5d6" ng-if="of_i.color === 'green'">
                    <span contenteditable ng-model="of_i.scope.impact"></span>
                </td>
                <td class="title" style="background-color: #d6f5d6" ng-if="of_i.color === 'green'">Objective</td>
                <td style="background-color: #d6f5d6" ng-if="of_i.color === 'green'">
                    <span contenteditable format="string" ng-model="of_i.objective"></span>
                </td>
                <td class="title" style="background-color: #d6f5d6" ng-if="of_i.color === 'green'">Nodes</td>
                <td style="background-color: #d6f5d6" ng-if="of_i.color === 'green'">
                    <span contenteditable ng-model="of_i.scope.node"></span>
                </td>
                <td class="title" style="background-color: #d6f5d6" ng-if="of_i.color === 'green'"> Frequency</td>
                <td style="background-color: #d6f5d6" ng-if="of_i.color === 'green'">
                    <select ng-model="of_i.window.period">
                        <option value="monthly">Monthly</option>
                        <option value="quarterly">Quarterly</option>
                    </select>
                </td>
                <td class="title" style="background-color: #f3d4a7" ng-if="of_i.color === 'orange'">Impact</td>
                <td style="background-color: #f3d4a7" ng-if="of_i.color === 'orange'">
                    <span contenteditable ng-model="of_i.scope.impact"></span>
                </td>
                <td class="title" style="background-color: #f3d4a7" ng-if="of_i.color === 'orange'">Objective</td>
                <td style="background-color: #f3d4a7" ng-if="of_i.color === 'orange'">
                    <span contenteditable format="string" ng-model="of_i.objective"></span>
                </td>
                <td class="title" style="background-color: #f3d4a7" ng-if="of_i.color === 'orange'">Nodes</td>
                <td style="background-color: #f3d4a7" ng-if="of_i.color === 'orange'">
                    <span contenteditable ng-model="of_i.scope.node"></span>
                </td>
                <td class="title" style="background-color: #f3d4a7" ng-if="of_i.color === 'orange'"> Frequency</td>
                <td style="background-color: #f3d4a7" ng-if="of_i.color === 'orange'">
                    <select ng-model="of_i.window.period">
                        <option value="monthly">Monthly</option>
                        <option value="quarterly">Quarterly</option>
                    </select>
                </td>
                <td class="title" style="color: gray" ng-if="of_i.color === 'gray'">Impact</td>
                <td style="color: gray" ng-if="of_i.color === 'gray'">
                    <span contenteditable ng-model="of_i.scope.impact"></span>
                </td>
                <td class="title" style="color: gray" ng-if="of_i.color === 'gray'">Objective</td>
                <td style="color: gray" ng-if="of_i.color === 'gray'">
                    <span contenteditable format="string" ng-model="of_i.objective"></span>
                </td>
                <td class="title" style="color: gray" ng-if="of_i.color === 'gray'">Nodes</td>
                <td style="color: gray" ng-if="of_i.color === 'gray'">
                    <span contenteditable ng-model="of_i.scope.node"></span>
                </td>
                <td class="title" style="color: gray" ng-if="of_i.color === 'gray'"> Frequency</td>
                <td style="color: gray" ng-if="of_i.color === 'gray'">
                    <select ng-model="of_i.window.period">
                        <option value="monthly">Monthly</option>
                        <option value="quarterly">Quarterly</option>
                    </select>
                </td>
                <!--Delete Objective-->
                <td>
                    <a class="btn btn-danger" role="button" ng-click="deleteObjective()">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <!-- Add objective -->
    <div class="collapse" id="collapseGuarantee">
        <div class="card card-body row">
            <div class="col-sm-2">
                <select class="form-control" ng-model="guarantee.scope.impact" ng-init="guarantee.scope.impact='medium'">
                    <option value="high">High</option>
                    <option value="medium">Medium</option>
                    <option value="low">Low</option>
                </select>
                <!-- <input class="form-control" type="text" ng-model="guarantee.scope.impact" placeholder="Impact"> -->
            </div>
            <div class="col-sm-3">
                <input class="form-control" type="text" ng-model="guarantee.objective" placeholder="Objective">
            </div>
            <div class="col-sm-3">
                <input class="form-control" type="text" ng-model="guarantee.scope.node" placeholder="Nodes">
            </div>
            <div class="col-sm-3">
                <select class="form-control" ng-model="guarantee.window.period" ng-init="guarantee.window.period='monthly'">
                    <option value="monthly">Monthly</option>
                    <option value="quarterly">Quarterly</option>
                </select>
                <!-- <input class="form-control" type="text" ng-model="guarantee.window.period" placeholder="Frequency"> -->
            </div>
            <div class="col-sm-1">
                <button class="btn btn-primary btn-sm col" role="button" ng-click="addGuarantee()">
                    <!-- <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> -->
                    Add
                </button>
            </div>
        </div>
    </div>
    <br>
    <!-- Rewards -->
    <div>
        <table class="table no-spacing ">
            <tr>
                <td colspan="2" style="text-align: center; font-size: 1.6em; background-color: #f7f7f7; color: black;">
                    Rewards
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseReward" role="button"
                        aria-expanded="false" aria-controls="collapseReward">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <!-- when I have no results -->
    <div ng-if="resultMessage.length === 0">
        <table class="table no-spacing row">
            <tr ng-repeat="of_i in model.terms.pricing.billing.rewards[rewardsIndex].of">
                <td class="title col-lg-3 col-md-3">Condition</td>
                <td colspan="3" class="col-lg-3 col-md-3">
                    <span contenteditable format="string " ng-model="of_i.condition"></span>
                </td>
                <td class="title col-lg-3 col-md-3">Value</td>
                <td colspan="3" class="col-lg-2">
                    <span contenteditable ng-model="of_i.value "></span>
                </td>
                <!--Delete Reward-->
                <td class="col-lg-1">
                    <a class="btn btn-danger" role="button" ng-click="deleteReward(of_i)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <!-- when I have results -->
    <div ng-if="resultMessage.length > 0">
        <table class="table no-spacing row">
            <tr ng-repeat="of_i in model.terms.pricing.billing.rewards[rewardsIndex].of">
                <td class="title col-lg-3 col-md-3" ng-if="of_i.color === 'green'" style="background-color: #d6f5d6">Condition
                </td>
                <td colspan="3" class="col-lg-3 col-md-3" style="background-color: #d6f5d6" ng-if="of_i.color === 'green'">
                    <span contenteditable format="string " ng-model="of_i.condition"></span>
                </td>
                <td class="title col-lg-3 col-md-3" ng-if="of_i.color === 'red'" style="background-color: #fee9e7">Condition
                </td>
                <td colspan="3" class=" col-lg-3 col-md-3" ng-if="of_i.color === 'red'" style="background-color: #fee9e7">
                    <span contenteditable format="string " ng-model="of_i.condition"></span>
                </td>
                <td class="title  col-lg-3 col-md-3" ng-if="of_i.color === 'green'" style="background-color: #d6f5d6">Value</td>
                <td colspan="3" class="col-lg-3 col-md-3" style="background-color: #d6f5d6" ng-if="of_i.color === 'green'">
                    <span contenteditable ng-model="of_i.value "></span>
                </td>
                <td class="title col-lg-3 col-md-3" ng-if="of_i.color === 'red'" style="background-color: #fee9e7">Value</td>
                <td colspan="3" class=" col-lg-3 col-md-3" ng-if="of_i.color === 'red'" style="background-color: #fee9e7">
                    <span contenteditable ng-model="of_i.value "></span>
                </td>
                <td class="title col-lg-3 col-md-3" ng-if="of_i.color === 'orange'" style="background-color: #f3d4a7">Condition</td>
                <td colspan="3" class="col-lg-3 col-md-3" style="background-color: #f3d4a7" ng-if="of_i.color === 'orange'">
                    <span contenteditable ng-model="of_i.condition "></span>
                </td>
                <td class="title col-lg-3 col-md-3" ng-if="of_i.color === 'orange'" style="background-color: #f3d4a7">Value</td>
                <td colspan="3" class="col-lg-3 col-md-3" ng-if="of_i.color === 'orange'" style="background-color: #f3d4a7">
                    <span contenteditable ng-model="of_i.value "></span>
                </td>
                <!--Delete Reward-->
                <td class=" col-lg-1">
                    <a class="btn btn-danger" role="button" ng-click="deleteReward()">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <!-- Add rewards -->
    <div class="collapse" id="collapseReward">
        <div class="card card-body row">
            <div class="col-sm-6">
                <input class="form-control" type="text" ng-model="reward.condition" placeholder="Condition">
            </div>
            <div class="col-sm-5">
                <input class="form-control" type="text" ng-model="reward.value" placeholder="Value">
            </div>
            <div class="col-sm-1">
                <button class="btn btn-primary btn-sm" role="button" ng-click="addReward()">Add</button>
            </div>
        </div>
        <br>
        <br>
    </div>
    <br>
    <br>
</div>